<footer
  class='flex justify-between bg-orange-100/60 bg-gradient-to-b from-orange-600/40 w-auto text-center box-content h-32 px-8 py-12'
>
  <div class='text-sm'>
    <nav class='space-x-5'>
      <a href='#'>Menu</a>
      <a href='#'>Who we are</a>
      <a href='#'>Events</a>
      <a href='#'>Contacts</a>
    </nav>
  </div>
  <div>
    <p class='uppercase font-bold'>la pizza popolare</p>
  </div>
  <div>
    <p>Sign up to our newsletter</p>
    <input
      placeholder='Email'
      class='bg-transparent border-b-2 border-b-black p-2 focus:outline-0'
    />
  </div>
</footer>
