---
import Title from '../components/Title.astro'
import Button from '../components/Button.astro'
---

<section>
  <Title
    title='Menu'
    tag='h2'
  />
  <p class='text-center my-10'>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. At nostrum
    accusantium aliquid praesentium corrupti dolores ullam iure dicta obcaecati
    sapiente temporibus qui, iusto blanditiis modi libero vero. Id, illo
    veritatis.
  </p>
  <ul class='flex justify-center gap-5'>
    <li>
      <Button
        title='Appetizers'
        color='secondary'
      />
    </li>
    <li><Button title='Pizza' /></li>
    <li>
      <Button
        title='Desserts'
        color='secondary'
      />
    </li>
    <li>
      <Button
        title='Bar'
        color='secondary'
      />
    </li>
  </ul>
</section>
