---
import Button from './Button.astro'
---
<header class="flex justify-between p-4">
    <p class="uppercase font-bold">la pizza popolare</p>
    <nav class="space-x-6">
        <a href="#">Menu</a>
        <a href="#">Who we are</a>
        <a href="#">Events</a>
        <a href="#">Contacts</a>
    </nav>
    <Button/>
</header>