---
import Title from '../components/Title.astro'
import { Image } from 'astro:assets'
import imgTeam1 from '../images/Image-ourteam-1.png'
import imgTeam2 from '../images/Image-ourteam-2.png'
import imgTeam3 from '../images/Image-ourteam-3.png'
import imgTeam4 from '../images/Image-ourteam-4.png'
---

<section
  class='max-w-4xl mx-auto p-5 bg-orange-100/60 bg-gradient-to-t from-orange-600/40'
>
  <div class='flex justify-between p-1'>
    <Title
      title='Our team'
      size='md'
    />
    <p>
      In velit auctor in. Id pellentesque facilisis at lectus sed in sit tellus
      mauris
    </p>
  </div>
  <div class='grid grid-cols-2 lg:grid-cols-4'>
    <article
      class='text-center flex flex-col justify-center items-center gap-y-1'
    >
      <Image
        alt='Team1'
        src={imgTeam1}
        width={200}
      />
      <Title
        title='Johnathan Demario'
        tag='h3'
        size='sm'
      />
      <Title
        title='Founder'
        tag='h4'
        size='xs'
      />
      <p class='text-pretty text-sm'>
        In velit auctor in. Id pellentesque facilisis at lectus sed in sit
        tellus mauris
      </p>
    </article>
    <article
      class='text-center flex flex-col justify-center items-center gap-y-1'
    >
      <Image
        alt='Team2'
        src={imgTeam2}
        width={200}
      />
      <Title
        title='Bryan Maohado'
        size='sm'
      />
      <Title
        title='Chef'
        tag='h4'
        size='xs'
      />
      <p class='text-pretty text-sm'>
        Duis sed ut dolor viverra porttitor semper et faucibus facillis. Hac
        maecenas thoncus.
      </p>
    </article>
    <article
      class='text-center flex flex-col justify-center items-center gap-y-1'
    >
      <Image
        alt='Team3'
        src={imgTeam3}
        width={200}
      />
      <Title
        title='Adam Joseph'
        size='sm'
      />
      <Title
        title='Chef'
        tag='h4'
        size='xs'
      />
      <p class='text-pretty text-sm'>
        Faucibus sed vitae dui justo duis in. Egestas ipsum ut a elementum at
        laoreet at quam vitae.
      </p>
    </article>
    <article
      class='text-center flex flex-col justify-center items-center gap-y-1'
    >
      <Image
        alt='Team4'
        src={imgTeam4}
        width={200}
      />
      <Title
        title='Pat Desque'
        size='sm'
      />
      <Title
        title='Chef'
        tag='h4'
        size='xs'
      />
      <p class='text-pretty text-sm'>
        Molestie viverra mattis nisl vitae orci feugiat in. Aliquet quis orci
        turpis aliquet.
      </p>
    </article>
  </div>
</section>
