---
import Title from '../components/Title.astro'
import { Image } from 'astro:assets'
import imgTeam1 from '../images/Image-ourteam-1.png'
import imgTeam2 from '../images/Image-ourteam-2.png'
import imgTeam3 from '../images/Image-ourteam-3.png'
import imgTeam4 from '../images/Image-ourteam-4.png'
---

<section
  class='max-w-4xl mx-auto py-5 bg-orange-100/60 bg-gradient-to-t from-orange-600/40'
>
  <div>
    <Title
      title='Our team'
      size='md'
    />
    <p class='text-right'>
      In velit auctor in. Id pellentesque facilisis at lectus sed in sit tellus
      mauris
    </p>
  </div>
  <div class='flex justify-center gap-2 my-10'>
    <article>
      <Image
        alt='Team1'
        src={imgTeam1}
        width={200}
      />
      <Title
        title='Johnathan Demario'
        tag='h3'
        size='sm'
      />
      <Title
        title='Founder'
        tag='h4'
        size='xs'
      />
      <p class='text-center w-28'>
        In velit auctor in. Id pellentesque facilisis at lectus sed in sit
        tellus mauris
      </p>
    </article>
    <article>
      <Image
        alt='Team2'
        src={imgTeam2}
        width={200}
      />
      <Title
        title='Team'
        size='sm'
      />
      <Title
        title='Position'
        tag='h4'
        size='xs'
      />
      <p class='text-xs'>Description</p>
    </article>
    <article>
      <Image
        alt='Team3'
        src={imgTeam3}
        width={200}
      />
      <Title
        title='Team'
        size='sm'
      />
      <Title
        title='Position'
        tag='h4'
        size='xs'
      />
      <p class='text-xs'>Description</p>
    </article>
    <article>
      <Image
        alt='Team4'
        src={imgTeam4}
        width={200}
      />
      <Title
        title='Team'
        size='sm'
      />
      <Title
        title='Position'
        tag='h4'
        size='xs'
      />
      <p class='text-xs'>Description</p>
    </article>
  </div>
</section>
